@import "compass/css3/box-sizing";
@import "compass/css3/flexbox";
@import "fonts";

@-ms-viewport{
    width: device-width;
}

$background: #fff8f3;
$primary-text-color: #000;
$subheading-color: #278acc;
$caption-color: #bcb0aa;
$alert-color: #f90b0b;

$safe-area-size: 5%;
$box-border-size: 2pt;
$spacing: 30px;

html, body{
    width: 100vw;
    min-height: 100vh;
    background: $background;
    font-family: "Brandon", sans-serif;
}

@mixin centers-contents{
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
}

@mixin aspect-ratio($size){
    width: $size;
    height: $size;
}

body{
    @include box-sizing(border-box);
    @include centers-contents;
    text-align: center;
    height: fit-content;
}

main.container-fluid{
    $size: 100% - ($safe-area-size * 2);
    min-height: $size;
    width: $size;
    margin: $safe-area-size auto;
    border: $box-border-size solid $primary-text-color;
    padding: $spacing;
}

footer p{
    margin: auto;
    &, & a{
        color: $caption-color;
    }
}

.row{
    @include justify-content(center);
    @include align-items(center);
    //width: 100%;
}