@import "compass/css3/flexbox";
@import "base";

header{
    height: 50%;
    .row{
        
        height: 50%;
        width: 100%;
        margin: auto;
        img{
            margin: {
                left: -4%
            }
            $logo-size: 15%;
            width: $logo-size;
            height: $logo-size;
            @media (orientation: portrait){
                $logo-size: $logo-size * 2;
                width: $logo-size;
                height: $logo-size;
            }
        }
    }

    h1{
        margin: $spacing;
        height: fit-content;
        font-weight: bold;
        text-transform: uppercase;
    }
}

#options{
    height: fit-content;
    .col{
        height: fit-content;
    }
    img{
        $size: 50%;
        height: $size;
        width: $size;
    }
    h2{
        color: $subheading-color;
        font-style: italic;
        margin: {
            top: 10px;
        }
    }
}

.button{
    $button-spacing: 30px;
    margin: {
        top: $button-spacing;
        bottom: $button-spacing;
    };
}