@import "compass/css3/flexbox";
@import "base";

$spacing: 30px;

header{
    height: 50%;
    .row{
        @include justify-content(center);
        @include align-items(center);
        height: 50%;
        width: 100%;
        img{
            margin: {
                left: -4%
            }
            $logo-size: 100%;
            width: $logo-size;
            height: $logo-size;
        }
    }

    h1{
        margin: $spacing;
        height: fit-content;
    }
}

#options{
    height: 50%;
    img{
        $size: 80%;
        height: 80%;
        width: 80%;
    }
    h2{
        color: $subheading-color;
        margin: {
            top: 10px;
        }
    }
}

main.container-fluid{
    padding: $spacing;
    height: 100%;
    min-height: 700px;
}